@font-face {
  font-family: 'ME-icons';
  src:  url('fonts/ME-icons.eot?9f1m65');
  src:  url('fonts/ME-icons.eot?9f1m65#iefix') format('embedded-opentype'),
    url('fonts/ME-icons.ttf?9f1m65') format('truetype'),
    url('fonts/ME-icons.woff?9f1m65') format('woff'),
    url('fonts/ME-icons.svg?9f1m65#ME-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="me-i-"], [class*=" me-i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ME-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.me-i-close:before {
  content: "\e911";
}
.me-i-burger:before {
  content: "\e915";
}
.me-i-arrow-up:before {
  content: "\e904";
}
.me-i-arrow-down:before {
  content: "\e908";
}
.me-i-arrow-right:before {
  content: "\e909";
}
.me-i-arrow-left:before {
  content: "\e90a";
}
